<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/_head %>

</head>
<body class="container">
<!-- HEADER -->
<header>

</header>

<main>
    <!-- TESTIMONIAL -->
    <div class="main-testimonial">
        <% include ../views/partials/_testimonial %>
    </div>
    <!-- CTA -->
    <div class="main-cta">
        <% include ../views/partials/_cta %>
    </div>
    <!-- FILTERABLE CONTENT -->
    <div class="main-filterable-content">
        <% include ../views/partials/_filterable-content %>
    </div>

</main>
<!-- FOOTER -->
<footer>
    <% include ../views/partials/_footer %>
</footer>
</body>
</html>