/* Color Variables */

$white:#ffffff;
$black:#000;
$orange:#FF6A00;
$blue: rgba(29,161,219,1);
$blue-hover: rgba(29,161,219,0.75);
$border-color:#486572;
$medium-gray:#DCDCDC;
$dark-gray:#8C8888;

$light-gray-bg:#F9F8F7;
$light-gray-border:#F4F4F4;
$dark-bg:#0F434C;


