<!-- CTA -->

<% include ../partials/_blueheader %>
<section class="cta-block content-wrapper">
    <div class="content-block">
        <p id="joke">Flee in terror at cucumber discovered on floor lick yarn hanging out of own butt, tuxedo cats always looking dapper but kitty scratches couch bad kitty, but plays league of legends shake treat bag. Sniff sniff proudly present butt to human climb a tree, wait for a fireman jump to fireman then scratch his face. Scratch the postman wake up lick paw wake up owner meow meow. Lounge in doorway kitty poochy so jump around on couch, meow constantly until given food, but cat is love, cat is life caticus cuteicus.</p>
        <a href="#" title="Click for more jokes." id="fetchBtn" class="button fetch-a-joke">Tell me more</a>
    </div>
</section>