<!-- view/partials/head.ejs -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<!-- Mobile Device Scale/Zoom -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Title -->
<title>Nhori Lopchan Tamang | HubSpot Code Test</title>
<!-- Fonts -->
<% include ../partials/_fonts %>
<!-- Stylesheet -->
<link rel="stylesheet" href="/build/css/styles.css"/>