<!-- Testimonial Block Control -->
<% include ../partials/_blueheader %>

<div class="testimonial-block content-wrapper">
    <div class="content">
        <p>Chuck Norris doesn't go hunting... CHUCK NORRIS GOES KILLING Chuck Norris drives an ice cream truck covered in human skulls. Chuck Norris invented Kentucky Fried Chicken's famous secret recipe, with eleven herbs and spices. But nobody ever mentions the twelfth ingredient: Fear CNN was originally created as the "Chuck Norris Network" to update Americans with on-the-spot ass kicking in real-time Chuck Norris once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean Fool me once, shame on you. Fool Chuck Norris once and he will roundhouse you in the face, Chuck Norris is ten feet tall, weighs two-tons, breathes fire, and could eat a hammer and take a shotgun blast standing. </p>
        <span class="author">Chuck Norris, One who makes the onions cry</span>
    </div>
</div>